# Virtual Environment
venv/
.venv/

# Environment variables
.env

# Python
__pycache__/
*.py[cod]
*$py.class
*.pyc

# Data files
data/
*.csv
*.json


# Logs
logs/
*.log

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db